
        h1{
            color:#067915;
            font-size: 40;
        }
        h2{
            color: #d8cc24;
            font-size: 30;
        }
        h3{
            color: #da5c5cd2;
            font-size: 20;
        }